<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LSLogsPath" value="C:\Users\Dylan\Desktop\LS_Logs\"/>
    <add key="LogsSourcePath" value="C:\Users\Dylan\Desktop\test_m_logs\"/>
    <add key="LogsDestPath" value="C:\Users\Dylan\Desktop\LogsBackup\"/>
    <add key="CategorizationStrategy" value="FirstSegment"/>
  </appSettings>
</configuration>